<header>
    <div class="header-container" #carousel>
        <ng-container *ngFor="let movie of moviesCarousel; let i = index">
            <div class="header-content" [style.backgroundImage]="'url('+ movie.image +')'">
                <div class="cover">
                    <div class="cover-container">
                        <div class="div-title">
                            <h1>{{movie.title}}</h1>
                            <a href="#">{{movie.kind}}</a>
                        </div>
                        <div class="details">
                            <span class="middle cy">{{movie.punctuation}}</span>
                            <span class="cy">/5</span>
                            <span class="cw">{{movie.duration}}</span>
                            <span class="cw">{{movie.year}}</span>
                            <a href="#">{{movie.quality}}</a>
                        </div>
                        <div class="description">
                            <p>{{movie.description}}</p>
                        </div>
                        <div class="show-movie">
                            <button>
                                <figure><img src="https://i.imgur.com/GRAp5IY.png" alt="play"></figure>
                                Ver Película
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="carousel-buttons">
        <ng-container *ngFor="let movie of moviesCarousel; let i = index">
            <button *ngIf="i == 0" [id] = "i" class="activate" (click)="moveCarousel($event, i, carousel)"></button>
            <button *ngIf="i > 0" [id] = "i" (click)="moveCarousel($event, i, carousel)"></button>
        </ng-container>
    </div>
</header>