<header>
    <div class="header-content">
        <div class="cover">
            <div class="cover-container">
                <div class="div-title">
                    <h1>Sonic. La película</h1>
                    <a href="#">Película</a>
                </div>
                <div class="details">
                    <span class="middle cy">4,5</span>
                    <span class="cy">/5</span>
                    <span class="cw">1h 39m</span>
                    <span class="cw">2020</span>
                    <a href="#">HD</a>
                </div>
                <div class="description">
                    <p>Sonic, el famoso erizo azul de SEGA vivirá su primera aventura en la pantalla grande. En esta adaptación cinematográfica basada en la conocida saga de videojuegos podremos ver a los personajes icónicos de la franquicia.</p>
                </div>
                <div class="show-movie">
                    <button>
                        <figure><img src="../../../assets/resources/images/play.png" alt="play"></figure>
                        Ver Película
                    </button>
                </div>
            </div>
        </div>
        <div class="carousel-buttons">
            <button class="activate"></button>
            <button></button>
            <button></button>
            <button></button>
        </div>
    </div>
</header>