<div class="trends">
    <div class="languages">
        <div class="title">
            <h5>Filtrar películas por idiomas</h5>
        </div>
        <div class="links-languages">
            <a href="#">
                <figure><img src="https://i.imgur.com/xBZp5W2.png" alt="flag"></figure>
            </a>
            <a href="#">
                <figure><img src="https://i.imgur.com/5SJfuiC.png" alt="flag"></figure>
            </a>
            <a href="#">
                <figure><img src="https://i.imgur.com/TrTH5as.png" alt="flag"></figure>
            </a>
        </div>
    </div>
    <div class="movies-lists">
        <div class="premiere">
            <div class="title">
                <h5>Top Estrenos</h5>
            </div>
            <app-movie-list [movieList]="moviesPremier"></app-movie-list>
        </div>
        <div class="outstanding">
            <div class="title">
                <h5>Películas destacadas</h5>
            </div>
            <app-movie-list [movieList]="moviesOutstanding"></app-movie-list>
        </div>
        <div class="series">
            <div class="title">
                <h5>Series</h5>
            </div>
            <app-movie-list [movieList]="series"></app-movie-list>
        </div>
    </div>
</div>